{namespace helper=Tx_Buechertransport_ViewHelpers}

<h2><f:translate key="tx_buechertransport_domain_model_province.name" />: {province.name}</h2>

<h3><f:translate key="tx_buechertransport_domain_model_province.reachables" /></h3>
<table id="libraries" class="tx-buechertransport tablesorter" >
	<thead><tr>
		<th><f:translate key="tx_buechertransport_domain_model_city.name" /></th>
		<th><f:translate key="tx_buechertransport_domain_model_library.name" /></th>
		<th><f:translate key="tx_buechertransport_domain_model_library.sigel" /></th>
		<th><f:translate key="tx_buechertransport_domain_model_library.distributioncentre" /></th>
	</tr></thead>
	<tbody>
<f:for each="{province.reachables}" as="city">
	<f:for each="{city.libraries}" as="library" iteration="Iterator">
	<tr class="{f:if(condition: Iterator.isEven, then: 'even')}">
<!--	<td><f:link.action action="show" arguments="{city : city}"> {city.name}</f:link.action></td>
		<td><f:link.action action="show" arguments="{library : library}"> {library.name}</f:link.action></td>-->
 		<td>{city.name}</td>
		<td>{library.name}</td>
		<td><f:link.external uri="http://dispatch.opac.d-nb.de/DB=1.2/SET=1/TTL=1/CMD?ACT=SRCHA&IKT=8521&SRT=LST_os&TRM={helper:url(param:library.sigel)}" target="_blank">{library.sigel}</f:link.external></td>
		<td>{library.distributioncentre.name}</td>
	</tr>
	</f:for>
</f:for>
	</tbody>
</table>
