<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<!-- <fed:script src="http://maps.google.com/maps/api/js?sensor=true" />
<fed:script src="typo3conf/ext/buechertransport/Resources/Public/Javascript/maps.js" /> -->

<f:section name="main">

<link href="{f:uri.resource(path:'CSS/maps.css')}" rel="stylesheet" />

<script type="text/javascript" src="{f:uri.resource(path:'Javascript/geoxml3_kmlStr.js')}"></script>
<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=de"></script> -->
<script type="text/javascript" src="http://www.google.com/jsapi"></script> 
<script type="text/javascript" src="{f:uri.resource(path:'Javascript/maps.js')}"></script>

<!-- Initialize --> 
<script type="text/javascript"> 
// globals
var map = null;
var infoWindow = null;
var geoXml = null;
var geoXmlDoc = null;
var myLatLng = null;
var myOptions = null;
var mapCenter = null;
var geocodeTheCountry = true;
var gpolygons = [];

// Fusion Table data ID
var FT_TableID = 420419;
var CountryName = "Germany"; // "United States of America";

google.load('visualization', '1', {'packages':['corechart', 'table', 'geomap']});

function  createSidebar() {
	// set the query using the parameters
	var FT_Query2 = "SELECT 'name_0', 'name_1', 'kml_4326' FROM " + FT_TableID + " WHERE name_0 = '" + CountryName + "' ORDER by 'name_1'";
	document.getElementById("FTquery2").innerHTML = FT_Query2; 
  	var queryText = encodeURIComponent(FT_Query2);
  	// alert("createSidebar query="+FT_Query2);
  	var query = new google.visualization.Query('http://www.google.com/fusiontables/gvizdata?tq='  + queryText);
  
	//set the callback function
	query.send(getData);
}
// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(createSidebar);
</script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
var FTresponse = null;

myLatLng = new google.maps.LatLng(37.422104808,-122.0838851);
// these set the initial center, zoom and maptype for the map 
// if it is not specified in the query string
var lat = 37.422104808;
var lng = -122.0838851;
var zoom = 18;
var maptype = google.maps.MapTypeId.ROADMAP;

// If there are any parameters at eh end of the URL, they will be in  location.search
// looking something like  "?marker=3"

// skip the first character, we are not interested in the "?"
var query = location.search.substring(1);

// split the rest at each "&" character to give a list of  "argname=value"  pairs
var pairs = query.split("&");
for (var i=0; i<pairs.length; i++) {
	// break each pair at the first "=" to obtain the argname and value
	var pos = pairs[i].indexOf("=");
	var argname = pairs[i].substring(0,pos).toLowerCase();
	var value = pairs[i].substring(pos+1);
	if (argname == "country") {CountryName = unescape(value);}
	value = pairs[i].substring(pos+1).toLowerCase();

	// process each possible argname  -  use unescape() if theres any chance of spaces
	if (argname == "geocode") {geocodeTheCountry = (value != "false");}
	if (argname == "id") {id = unescape(value);}
	if (argname == "filename") {filename = unescape(value);}
	if (argname == "marker") {index = parseFloat(value);}
	if (argname == "lat") {lat = parseFloat(value);}
	if (argname == "lng") {lng = parseFloat(value);}
	if (argname == "zoom") {
		zoom = parseInt(value);
		myGeoXml3Zoom = false;
	}
	if (argname == "type") {
	// from the v3 documentation 8/24/2010
	// HYBRID This map type displays a transparent layer of major streets on satellite images. 
	// ROADMAP This map type displays a normal street map. 
	// SATELLITE This map type displays satellite images. 
	// TERRAIN This map type displays maps with physical features such as terrain and vegetation. 
		if (value == "m") {maptype = google.maps.MapTypeId.ROADMAP;}
		if (value == "k") {maptype = google.maps.MapTypeId.SATELLITE;}
		if (value == "h") {maptype = google.maps.MapTypeId.HYBRID;}
		if (value == "t") {maptype = google.maps.MapTypeId.TERRAIN;}
	}
}
if (!isNaN(lat) && !isNaN(lng)) {
	myLatLng = new google.maps.LatLng(lat, lng);
}
infoWindow = new google.maps.InfoWindow();

//define callback function, this is called when the results are returned
function getData(response) {
if (!response) {
  alert('no response');
  return;
}
if (response.isError()) {
  alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
  return;
} 
  FTresponse = response;
  //for more information on the response object, see the documentation
  //http://code.google.com/apis/visualization/documentation/reference.html#QueryResponse
  numRows = response.getDataTable().getNumberOfRows();
  numCols = response.getDataTable().getNumberOfColumns();
  
  //concatenate the results into a string, you can build a table here
  fusiontabledata = "<table><tr>";
//  for(i = 0; i < numCols; i++) {
    fusiontabledata += "<th>" + response.getDataTable().getColumnLabel(1) + "</th>";
//   }
  fusiontabledata += "</tr><tr>";
  
  for(i = 0; i < numRows; i++) {
//    for(j = 0; j < numCols; j++) {
   /*
   var kml =  response.getDataTable().getValue(i,2);
   geoXml.parseKmlString("<Placemark>"+kml+"</Placemark>");
   */    
      fusiontabledata += "<td><a href='javascript:myFTclick("+i+")'>"+response.getDataTable().getValue(i, 1) + "</a></td>";
//    }
    fusiontabledata += "</tr><tr>";
  }
  fusiontabledata += "</table>"  
  //display the results on the page
  document.getElementById('sidebar').innerHTML = fusiontabledata;
}

function infoWindowContent(name, description) {
   content =   '<div class="FT_infowindow"><h3>' + name + 
               '</h3><div>' + description + '</div></div>';
   return content;
}
function myFTclick(row) {
   var description = FTresponse.getDataTable().getValue(row,0);
   var name = FTresponse.getDataTable().getValue(row,1);
   if (!gpolygons[row]) {
     var kml =  FTresponse.getDataTable().getValue(row,2);
     // create a geoXml3 parser for the click handlers
     var geoXml = new geoXML3.parser({
                    map: map,
		    zoom: false,
                    infoWindow: infoWindow,
                    singleInfoWindow: true
                });

     geoXml.parseKmlString("<Placemark>"+kml+"</Placemark>");
     geoXml.docs[0].gpolygons[0].setMap(null);
     gpolygons[row] = geoXml.docs[0].gpolygons[0].bounds.getCenter();
   }
   var position = gpolygons[row];
/*
   var lat =  FTresponse.getDataTable().getValue(row,4);
   var lng =  FTresponse.getDataTable().getValue(row,5);
   var position = new google.maps.LatLng(lat, lng);
*/
   // Set up and create the infowindow
   if (!infoWindow) infoWindow = new google.maps.InfoWindow({});
   infoWindow.setOptions({
      content: infoWindowContent(name, description),
      pixelOffset: new google.maps.Size(0, 2),
      position: position
    });
    // Infowindow-opening event handler
    infoWindow.open(map);
}

function initialize() {
  myOptions = {
               zoom: zoom,
               center: myLatLng,
               // zoom: 5,
               // center: myLatlng,
               mapTypeId: maptype
              };

  map = new google.maps.Map(document.getElementById("map_canvas"),
                            myOptions);

  var geocoder = new google.maps.Geocoder();
    if (geocoder && geocodeTheCountry) {
      geocoder.geocode( { 'address': CountryName+" Country"}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
          map.setCenter(results[0].geometry.location);
          map.fitBounds(results[0].geometry.viewport);
          } else {
            alert("No results found");
          }
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
    }

var FT_Query = "SELECT 'kml_4326' FROM "+FT_TableID+" WHERE 'name_0' = '"+CountryName+"';";
var FT_Options = { suppressInfoWindows: true, query:FT_Query };
// alert("FTquery="+FT_Query);
document.getElementById("FTquery").innerHTML = FT_Query; 
  layer = new google.maps.FusionTablesLayer(FT_TableID, FT_Options);
  layer.setMap(map);

  google.maps.event.addListener(layer, "click", function(event) {
    infoWindow.close();
// alert("click:"+event.latLng+","+event.infoWindowHtml);
    infoWindow.setContent(infoWindowContent(event.row.name_1.value,event.row.name_0.value));
    infoWindow.setPosition(event.latLng);
    infoWindow.open(map);
  });


	// createSidebar();
}
</script>

<h2>Kartenansicht: <f:translate key="tx_buechertransport_domain_model_province.maps" /></h2>

<f:flashMessages />

<!-- <div id="map-province_{province.uid}" class="map-container"></div>
<f:format.html><a class="map" id="cl-province_{province.uid}" title="{f:translate(key:'maptitle')}">Karte</a></f:format.html>
 -->

<table style="width:100%;">
	<tr><td>
    	<div id="map_canvas"></div>
	</td></tr>
	<tr><td>
		<div id="sidebar" style="width:300px;height:600px; overflow:auto"></div>
	</td></tr>
	<tr><td><div id="FTquery"></div></td></tr>
	<tr><td><div id="FTquery2"></div></td></tr>
</table>




<f:link.action action="list"><f:translate key="tx_buechertransport_template_backToList" /></f:link.action><br />

</f:section>