<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<!-- <fed:script src="http://maps.google.com/maps/api/js?sensor=true" />
<fed:script src="typo3conf/ext/buechertransport/Resources/Public/Javascript/maps.js" /> -->

<f:section name="main">
{namespace helper=Tx_Buechertransport_ViewHelpers}

<link href="{f:uri.resource(path:'CSS/maps.css')}" rel="stylesheet" />

<script type="text/javascript" src="http://www.google.com/jsapi"></script> 
<script type="text/javascript" src="{f:uri.resource(path:'Javascript/maps.js')}"></script>

<!-- Initialize --> 
<script type="text/javascript"> 
// Globals
var map = null;
var infoWindow = null;
var geoXml = null;
var geoXmlDoc = null;
var myLatLng = null;
var myOptions = null;
var mapCenter = null;
var geocodeTheCountry = true;
// var gpolygons = [];

// Fusion Table data ID
var FT_TableID = 420419; //'19lLpgsKdJRHL2O4fNmJ406ri9JtpIIk8a-AchA'
var CountryName = "Germany";
var ProvinceName = "{province.name}";

google.load('visualization', '1', {'packages':['corechart', 'table', 'geomap']});
</script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
// Set the initial center, zoom and maptype for the map 
var lat = 51.5383520;
var lng = 9.92968990;
var maptype = google.maps.MapTypeId.ROADMAP;
var zoom = 6;
myLatLng = new google.maps.LatLng(lat, lng);

function initialize() {
	// Set map configuration
	myOptions = {
		'zoom': zoom,
		'center': myLatLng,
		'mapTypeId': maptype
	};
	map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

	// Render Province centered map
	var geocoder = new google.maps.Geocoder();
	if (geocoder && geocodeTheCountry) {
		geocoder.geocode( { 'address': CountryName + " Country" }, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
					map.setCenter(results[0].geometry.location);
					// map.fitBounds(results[0].geometry.viewport);
				} else {
					alert("No results found");
				}
			} else {
				alert("Geocode was not successful for the following reason: " + status);
			}
		});
    }

	// Render FusionTableLayer for Highlighting
	// Simple map presentation
	// var FT_Query = "SELECT 'kml_4326' FROM " + FT_TableID + " WHERE 'name_0' = '" + CountryName + "' AND 'name_1' = '" + ProvinceName + "';";
	// var FT_Options = { suppressInfoWindows: true, query: FT_Query};
	// layer = new google.maps.FusionTablesLayer(FT_TableID, FT_Options);
	// layer.setMap(map);

	// Map presentation with highlighted polygons
	layer = new google.maps.FusionTablesLayer({
	  suppressInfoWindows: true, 
	  query: {
	    'select': 'kml_4326',
	    'from': FT_TableID
	  },
	  styles: [{
	    polygonOptions: {
	      'fillColor': "#FFFFFF",
	      'fillOpacity': .01,
	      'strokeColor': "#666666",
	      'strokeOpacity': .01,
	      'strokeWeight': 0
	    }
	  }, {
	    where: "'name_1' = '" + ProvinceName + "'",
	    polygonOptions: {
	      'fillColor': "#93A8CF", 
	      'fillOpacity': 0.1,
	      'strokeColor': "#1A3771",
	      'strokeOpacity': 0.5,
	      'strokeWeight': 5,
	    }
	  }]
	});
	layer.setMap(map);

	// Necessary arrays
	city = []; latlng = []; line = []; lineCoordinates = []; marker = [];
	var imageLib = "typo3conf/ext/buechertransport/Resources/Public/Icons/tx_buechertransport_domain_model_library.png";
	var imageProvince = "typo3conf/ext/buechertransport/Resources/Public/Icons/tx_buechertransport_domain_model_province.png";
	var lineSymbolLib = {
		'path': 'M 0,0 L 5,-5 L -12.5,0 L 5,5 L 0,0 z',
		'fillColor': '#F00',
		'fillOpacity': 0.8,
		'scale': 0.8,
 		'rotation': 90,
	};
	var lineSymbolProvince = {
		'path': 'M 0,0 L 5,-5 L -12.5,0 L 5,5 L 0,0 z',
		'fillColor': '#090',
		'fillOpacity': 0.8,
		'scale': 0.8,
 		'rotation': 90,
	};
	var polyOptionsLib = {
		'strokeColor': '#F00',
		'strokeOpacity': .5,
		'strokeWeight': 2
	};
	var polyOptionsProvince = {
		'strokeColor': '#090',
		'strokeOpacity': .5,
		'strokeWeight': 2
	};

	var provinceCoord = '';
	if (geocoder && geocodeTheCountry) {
		geocoder.geocode( { 'address': ProvinceName + " State" }, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
					provinceCoord = results[0].geometry.location;
<f:for each="{province.globaldistributioncentres}" as="city" iteration="Iterator">
	// Set marker
	city[{Iterator.index}] = "{city.name}";
	latlng[{Iterator.index}] = new google.maps.LatLng("{city.lat}", "{city.lng}");
	marker[{Iterator.index}] = new google.maps.Marker({'position': latlng[{Iterator.index}], 'map': map, 'title': city[{Iterator.index}], 'icon': imageLib});
	// Draw line
	lineCoordinates[{Iterator.index}] = [
  		provinceCoord,
  		latlng[{Iterator.index}]
	];
	line[{Iterator.index}] = new google.maps.Polyline({
		'path': lineCoordinates[{Iterator.index}],
		'icons': [{
			'icon': lineSymbolLib,
			'offset': '66%'
		}],
		'map': map
	});
	line[{Iterator.index}].setOptions(polyOptionsLib);
</f:for>
				} else {
					alert("No results found");
				}
			} else {
				alert("Geocode was not successful for the following reason: " + status);
			}
		});
    }

	// Draw SUB Göttingen province connections
    province = []; provinceCoord = myLatLng;
<f:for each="{province.specificreachableprovinces}" as="prov" iteration="Iterator">
	// Set marker
	province[{Iterator.index}] = "{prov.name}";
	latlng[{Iterator.index}] = new google.maps.LatLng("{prov.lat}", "{prov.lng}");
	marker[{Iterator.index}] = new google.maps.Marker({'position': latlng[{Iterator.index}], 'map': map, 'title': province[{Iterator.index}], 'icon': imageProvince});
	// Draw line
	lineCoordinates[{Iterator.index}] = [
  		provinceCoord,
  		latlng[{Iterator.index}]
	];
	line[{Iterator.index}] = new google.maps.Polyline({
		'path': lineCoordinates[{Iterator.index}],
		'icons': [{
			'icon': lineSymbolProvince,
			'offset': '96%'
		}],
		'map': map
	});
	line[{Iterator.index}].setOptions(polyOptionsProvince);
</f:for>

}
</script>

<h2>Kartenansicht: <f:translate key="tx_buechertransport_domain_model_province.maps" /> von {province.name}</h2>

<f:flashMessages />

<!-- <div id="map-province_{province.uid}" class="map-container"></div>
<f:format.html><a class="map" id="cl-province_{province.uid}" title="{f:translate(key:'maptitle')}">Karte</a></f:format.html>
 -->

<table style="width:100%;">
	<tr><td>
    	<div id="map_canvas"></div>
	</td></tr>
</table>




<f:link.action action="list"><f:translate key="tx_buechertransport_template_backToList" /></f:link.action><br />

</f:section>