<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<fed:script src="http://maps.google.com/maps/api/js?sensor=true" />
<!-- <fed:script src="typo3conf/ext/standorte/Resources/Public/Js/*.js" /> -->
<!-- <fed:style href="typo3conf/ext/standorte/Resources/Public/Css/Standorte.css" /> -->

<f:section name="main">

<h2>Kartenansicht: <f:translate key="tx_buechertransport_domain_model_province.maps" /></h2>

<f:flashMessages />

...
<br />
<!-- <f:render partial="Province/Properties" arguments="{province:province}" /> -->
<f:link.action action="list"><f:translate key="tx_buechertransport_template_backToList" /></f:link.action><br />
<!-- <f:link.action action="new">New Province</f:link.action> -->

</f:section>