<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<link href="{f:uri.resource(path:'CSS/tablesorter.css')}" rel="stylesheet" />
<script type="text/javascript" src="{f:uri.resource(path:'Javascript/jquery.tablesorter.min.js')}"></script>
<script type="text/javascript">
$(document).ready(function() { 
    $("#libraries").tablesorter(); 
}); 
</script>
<!-- <h2><f:translate key="tx_buechertransport_domain_model_province.reachables" /></h2> -->

<f:flashMessages />
<f:render partial="Province/ReachableProperties" arguments="{province:province}" />
<f:link.action action="list"><f:translate key="tx_buechertransport_template_backToList" /></f:link.action><br />

</f:section>